@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,400,700&subset=japanese');

$main-color: #C86F5E;
$yellow: #FEFBB7;
$base-color: #fffbee;
$grey-dark: #6c6c6c;
$cream: #E8DE9A;
$orange: #F8A94A;
$green: #80c85e;
$cyan: #5ea5c8;
$red: #c83d3d;

$primary: $main-color;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$link: $orange;

$family-sans-serif: 'M PLUS Rounded 1c', sans-serif;

$body-background-color: $base-color;

@import "~bulma/bulma";

.logo-icon {
    border-radius: 50%;
    background-color: $primary;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    margin: -85px auto 16px;
}

#quagga-display {
    position: relative;
    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
